body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b2838;
}

.menu {
    background-position: center top;
    min-width: 940px;
    font-family: "Motiva Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.bg-primary {
    background-color: #001f3f !important;
}


.navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.nav-link {
    color: #c7c7c7;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
}

.nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.btn-outline-success:hover {
    background-color: #fff;
    color: #001f3f;
}

.italic-text {
    font-style: italic;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 75px;
}