body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b2838;
}

.menu {
    background-position: center top;
    min-width: 940px;
    font-family: "Motiva Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.bg-primary {
    background-color: #001f3f !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.nav-link {
    color: #c7c7c7;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 15px;
}

.nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.btn-outline-success:hover {
    background-color: #fff;
    color: #001f3f;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 75px;
}

.section-title {
    color: white;
    text-align: left;
    margin-bottom: 15px;
}

.category-button {
    height: 150px;
    background-size: cover;
    background-position: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border: none;
}

.category-button span {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.category-button.gradient-overlay {
    position: relative;
    overflow: hidden;
}

.category-button.gradient-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(0, 0, 255, 0.5));
    z-index: 1;
}

.category-button.gradient-overlay span {
    position: relative;
    z-index: 2;
}

.category-button.gradient-overlay:hover::before {
    background: none;
}